@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
input,
button,
textarea {
	font-size: inherit;
}
input {
	outline: none;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
h1 {
	margin: 0px 0px 50px 0px;
}
/* //============================================================================================================================ */

/* //============================================================================================================================ */
body {
	font-family: "Montserrat";
}

/* //============================================================================================================================ */

.title {
	font-size: 30px;
	line-height: 120%;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}

.incdec {
	padding: 30px;
}
.incdec__result {
	font-size: 20px;
	font-weight: 600;
	margin: 0px 0px 25px 0px;
}
.incdec__buttons {
	display: flex;
	gap: 15px;
}

.button {
	font-size: 20px;
	font-family: "Montserrat";
	line-height: 120%;
	display: flex;
	align-items: center;
	font-weight: 500;
	justify-content: center;
	border-radius: 25px;
	border: 1px solid rgb(113, 200, 208);
	padding: 8px 15px;
	transition: all 0.3s ease 0s;
}
.button:hover {
	box-shadow: 0 0 5px rgb(113, 200, 208), 0 0 15px rgb(113, 200, 208);
}
