@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
input,
button,
textarea {
	font-size: inherit;
}
input {
	outline: none;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
h1 {
	margin: 0px 0px 50px 0px;
}
/* //============================================================================================================================ */

/* //============================================================================================================================ */
body {
	font-family: "Montserrat";
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

/* //============================================================================================================================ */

.title {
	font-size: 30px;
	line-height: 120%;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}
//============================================================================================================================
.quiz {
	background-color: #83c5bfc5;
	border-radius: 30px;
	padding: 30px;
	color: #0d1b2a;
	max-width: 700px;
	// min-height: 300px;
	// .quiz__progress-bar

	&__progress-bar {
		transition: all 0.3s ease 0s;
		height: 10px;
		border-radius: 60px;
		background-color: #274c77;
		margin-bottom: 10px;
	}

	// .quiz__title

	&__title {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	// .quiz__list

	&__list {
		padding-left: 8px;
		> *:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	// .quiz__item

	&__item {
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
		border: 2px solid #231842;
		padding: 9px 15px;
		border-radius: 10px;
		transition: all 0.25s linear 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #f1faee;
				color: #001d3d;
			}
		}
		&:active {
			background-color: #a8dadc;
		}
		&.active {
			background-color: #e9d8a6;
		}
	}
}

.results {
	width: 500px;

	font-weight: 700;
	height: 200px;
	border-radius: 30px;
	background-color: #edf2fb;
	border: 2px solid #4d194d;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// .results__title

	&__title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	&__reload {
		text-decoration: none;
		color: inherit;
		font-size: 20px;
		border: 1px solid black;
		padding: 8px 15px;
		border-radius: 10px;
		box-shadow: 0 5px #001845;
		transform: translateY(0);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: translateY(3px);
				box-shadow: 0 2px #001845;
			}
		}
	}
}

//========================================================================================================================================================
.fisrt-type {
}

.second-type {
	display: flex;
	flex-direction: column;
	// align-self: stretch;
	margin-top: 35px;
	// .second-type__tabs

	&__tabs {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(60px, 80px));
		gap: 5px;
		margin-bottom: 15px;
	}

	// .second-type__tab

	&__tab {
		cursor: pointer;
		font-size: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		padding: 3px 24px;
		border-radius: 12px;
		border: 2px solid #a8dadc;
		&.active {
			background-color: #ff9900;
		}
	}

	// .second-type__submit

	&__submit {
		align-self: end;
		text-decoration: none;
		font-size: 20px;
		padding: 15px;
		border-radius: 12px;
		text-transform: uppercase;
		margin-top: 15px;
		background-color: #212529;
		color: #f8f9fa;
		box-shadow: 2px 5px #adb5bd;
		transform: translate(0, 0);
		transition: all 0.3s cubic-bezier(0.36, 0, 0.66, -0.56) 0s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 2px #adb5bd;
				transform: translate(2px, 3px);
			}
		}
		&:active {
			color: inherit;
		}
	}
}
